body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/* 设置页面的高度为视口高度 */
    background: #000;
}

canvas {
    display: block;
}
